<html>
	<head> <title> TODO | CREATE TASK </title> </head>


	
	<body>
		<h1> Create New Task </h1>
		
		<form method='POST' action='/store'>
			<table>
					<tr>
					  <td>Team_Name:</td>
					  <td><input type="text" name="tmn"/></td>
					</tr>
					<tr>
					  <td>Captain:</td>
					  <td><input type="text" name="cpt"></td>
					</tr>
					<tr>
					  <td>Year:</td>
					  <td><input type="number" name="yr"/></td>
					</tr>
					<tr>
					  <td>Highest_Run_Getter:</td>
					  <td><input type="text" name="hrg"/></td> 
				   	</tr>
				   	<tr>
					   <td>Status:</td>
					  <td><input type="text" name="sts"/></td>
				  	 </tr>
				  	 <tr>	 
					   <td><input type="submit" name="send"/></td>			  
					  </tr>
								
								
			</table>    
					   
		  </form>
	
	</body>
	
</html>
		   
